# Clock 25 MHz
LOCATE COMP "clk" SITE "P3"; IOBUF PORT "clk" PULLMODE=NONE;

# Reset
LOCATE COMP "rst_n" SITE "P4"; IOBUF PORT "rst_n" PULLMODE=UP;

# I2C
LOCATE COMP "sda" SITE "C4"; IOBUF PORT "sda" IO_TYPE=LVCMOS33;
LOCATE COMP "scl" SITE "B4"; IOBUF PORT "scl" IO_TYPE=LVCMOS33;

# LED RGB
LOCATE COMP "led_rgb[0]" SITE "E5"; IOBUF PORT "led_rgb[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led_rgb[1]" SITE "F5"; IOBUF PORT "led_rgb[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led_rgb[2]" SITE "G5"; IOBUF PORT "led_rgb[2]" IO_TYPE=LVCMOS33;

# UART
LOCATE COMP "tx" SITE "J19"; IOBUF PORT "tx" IO_TYPE=LVCMOS33;
